<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333052060255-k1dscaui7keav0kojeaotu3vv8a8ojkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333052060255-k1dscaui7keav0kojeaotu3vv8a8ojkv</string>
	<key>API_KEY</key>
	<string>AIzaSyBEhW4x12zZEy18lodv6HdiG5Ai2Nf5WpY</string>
	<key>GCM_SENDER_ID</key>
	<string>333052060255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vhelp</string>
	<key>PROJECT_ID</key>
	<string>vhelp-2eb27</string>
	<key>STORAGE_BUCKET</key>
	<string>vhelp-2eb27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333052060255:ios:e24124db62258cde57f1ea</string>
</dict>
</plist>